

html {
    scroll-behavior: smooth;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
}


body {
    background-color: beige;
    margin:0 auto;
    
}
.dark-mode {
    background-color: black;
    color: white;
}
section {
    scroll-snap-align: center;
}
header {
    position: relative;
    bottom: 30em;
}
ul li a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 20px;
    font-family: 'Bebas Neue',
    cursive;
    transition: color 0.2s;
}
 header ul li a:hover {
    color: white;
 }
/* top navbar */
#linkz {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 100px;
    position: relative;
    top: 32em;
    list-style-type: none;
    padding: 10px;
}

@media screen and (max-width: 720px) {
    #linkz {
        gap: 10px;
    }
}
/* MODAL */
.modal-container {
    position:fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-image: url("/wireframes/modalimg.jpeg");
    background-size: cover;
    border: 3px solid grey;
    overflow: hidden;
    
}


.modal-container h2{
    color: white;
    font-size: 60px;
    font-family: 'Oswald',
    sans-serif;
    position: relative;
    top: 6.5em;
    left: 14em;   
    
}
.modal-container #screen-btn{
    color: white;
    font-size: 30px;
    font-family: 'Oswald',
    sans-serif;
    padding: 30px;
}


.hide {
    display: none
}

 /* MAIN////FIRST DIV WITH IMAGE AND UL CLASS */
#bio {
height: 100vh;
width: 100%;
background-image: url("/wireframes/bakcgroundimag1.jpg");
background-size: cover;
border: 3px solid grey;
overflow: hidden;
display: grid;
    grid-template-rows: 0.5fr 0.2fr 1fr 2fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;
}

    

#bio h2 {
    color: white;
    font-size: 28px;
    font-family: 'Oswald',
    sans-serif;
    grid-row: 3;
    grid-column: 1 /span 3;
    margin: auto;
}

#bio h3 {
    color: rgb(255, 255, 255);
    font-size: 22px;
    font-family: 'Cormorant Garamond',
        serif;
    grid-row: 4;
    grid-column: 1 /span 3;
    margin: 0 auto;
    width: 16em;
    padding: 10px;
}

.img-main1 {
    grid-row: 2;
    grid-column: 1 /span 3;
    margin: auto;
}
.img-main1 img {
    width: 20em;
    border: 4px solid rgb(209, 216, 222);
}



#links {
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    gap: 1em;
    list-style-type: none;
    grid-row: 5;
    grid-column: 1 /span 3;
    margin: auto;
    max-width: 20em;
}

#links>li a {
    text-decoration: none;
    color: rgb(172, 71, 71);
    font-size: 1em;
    font-family: 'Bebas Neue',
    cursive;
    transition: color 0.2s;
}

#links>li a:hover {
    color: white;
}

.media {
    display: flex;
    justify-content: flex-end;
    grid-row: 1;
    grid-column: 3;
    padding: 10px;

}

.social {
    text-decoration: none;
    color: white;
    font-size: 2em;
    transition: color 0.2s;
}

.social:hover {
color: black;
}


@media screen and (min-width: 1000px) {

#bio {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;
}

.img-main1 {
    grid-row: 2;
    grid-column: 2;
    margin: auto;
}

.img-main1 img {
    width: 30em;
    border: 4px solid rgb(209, 216, 222);
}

#links {
    grid-row: 3;
    grid-column: 1 /span 3;
    margin: auto;
    max-width: 20em;
    font-size: 2em;
}

#bio h2 {
    grid-row: 2;
    grid-column: 1;
    margin: 0 auto;
}

#bio h3 {
    
    grid-row: 2;
    grid-column: 1;
    margin: auto;
    width: 20em;
    font-size: 1.4em;
    padding: 10px;
}

}





/* ABOUT ME CSS PORTION SCREEN 2 */


#about-me{
    background-color: white;
    height: 100vh;
    width:100%;
    background-image: url("/wireframes/aboutme1.jpg");
    border: 3px solid grey;
    background-color: whitesmoke;
    overflow: hidden;
    display: grid;
        grid-template-rows: 0.2fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr;
}
#linkz-a {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 100px;
    list-style-type: none;
    padding: 10px;
    grid-row: 1;
    grid-column: 1 /span 2;
    padding: 30px;
}

@media screen and (max-width: 720px) {
    #linkz-a {
        gap: 10px;
        padding: 15px;
    }
}

.img-aboutme{
    grid-row: 2;
    grid-column: 1 /span 2;
    margin: auto;
    padding: 20px;
}
.img-aboutme img {
    border: 4px solid rgb(209, 216, 222);
    width: 14em;
}

.aboutme {
    grid-row: 3;
    grid-column: 1 /span 2;
    margin: 0 auto;
}

.skills-tab{
    grid-row: 4;
    grid-column: 1 /span 2;
    margin: 0 auto;
}



.aboutme h1 {
color: rgb(0, 0, 0);
font-size: 25px;
font-family: 'Oswald',
sans-serif;
padding: 10px;
}

.aboutme h2{
color: rgb(0, 0, 0);
font-size: 20px;
font-family: 'Oswald',
sans-serif;
padding: 10px;
}

#about-me p{
    color: rgb(0, 0, 0);
    font-size: 17px;
    font-family: 'Dosis',
    sans-serif;
    width: 18em;
    line-height: 1.5;
    padding: 10px;
    
}

.skills-tab h2{
color: rgb(0, 0, 0);
font-size: 20px;
font-family: 'Oswald',
sans-serif;
padding: 10px;

}

#skillz {
color: rgb(0, 0, 0);
font-size: 17px;
font-family: 'Dosis',
sans-serif;
line-height: 1.5;
width: 18em;
padding: 10px;
}

@media screen and (min-width: 1000px) {

    #about-me {
        display: grid;
            grid-template-rows: 0.2fr 1fr 1fr 1fr;
            grid-template-columns: 1fr 2fr;
    }
    
.img-aboutme {
        grid-row: 2 /span 3;
        grid-column: 1;
        margin: auto;
        position: relative;
        bottom: 7em;
        padding: 4em;
        }

    .img-aboutme img {
        border: 4px solid rgb(209, 216, 222);
        width: 20em;
    }
        .aboutme {
            grid-row: 2;
            grid-column: 2;
            margin: 30px 100px ;
        }
    
        .skills-tab {
            grid-row: 3;
            grid-column: 2;
            margin: 0px 100px;  
        }
                .aboutme h1 {
                    font-size: 45px;
                }
        
                .aboutme h2 {
                    font-size: 30px;
                    padding: 10px;;
                }
        
                #about-me p {
                    font-size: 24px;
        
                }
        
                .skills-tab h2 {
                    font-size: 30px;
                }
        
                #skillz {
                    font-size: 24px;
                }

}





/* CAROUSEL CSS PORTION */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
}



#carouselExampleIndicators {
    width: 60vw;
    height: 80vh;
    display: flex;
    justify-content: space-around;
    border: 4px solid rgb(209, 216, 222);
}



.imgz {
    height: 100vh;
    width: 100%;
}

/* .images {
    display: none;
    border-radius: 10px;
} */

/* .images:first-of-type {
    display: block;
} */

/* .carousel-button {
    align-self: center;
    color: rgb(0, 0, 0);
    padding: 10px;
    text-align: center;
    color: white;
    font-size: 90px;
    transition: color 0.2s;
   
}

.carousel-button:hover {
    color: rgb(0, 0, 0);
} */







/* PROJECTS-ME CSS PORTION */
#projects-me{
background-color: rgb(255, 255, 255);
height: 100vh;
width:100%;
background-image: url("/wireframes/projectbackground.jpg");
background-size: cover;
border: 3px solid grey;
background-color: whitesmoke;
overflow: hidden;
}











/* CONTACT-ME CSS PORTION */
#contact-me {
    background-color: white;
    height: 100vh;
    width: 100%;
    background-image: url("/wireframes/contactmeimg1.jpg");
    background-size:cover;
    border: 3px solid grey;
    overflow: hidden;
    display: grid;
        grid-template-rows: 0.2fr 1fr 1fr 1fr;
        grid-template-columns: 1fr;
    }
#linkz-c {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 100px;
    list-style-type: none;
    padding: 10px;
    grid-row: 1;
    grid-column: 1;
    padding: 30px;
}

@media screen and (max-width: 720px) {
    #linkz-c {
        gap: 10px;
        padding: 15px;
    }
}
.contact-title {
    grid-row: 2;
    grid-column: 1;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
}


.contact-title>h1{
color: rgb(0, 0, 0);
font-size: 50px;
font-family: 'Montserrat Alternates',
sans-serif;
grid-row: 1;
grid-column: 2;
margin: 0 auto;
/* padding: 30px; */
/* margin: auto; */
/* position: relative;
top: 1em;
left: 15em; */
}

.contact-title>h2{
    color: rgb(0, 0, 0);
    font-size: 25px;
    font-family: 'Dosis',
    sans-serif;
    /* width: 500px;
    line-height: 1.5; */
    grid-row: 2;
    grid-column: 2;
    margin: 0 auto;
    /* padding: 10px; */
    /* margin: auto; */
    /* position: relative;
    left: 33em;
    top: 1em; */
}
.contact-title>h3{
    color: rgb(0, 0, 0);
    font-size: 30px;
    font-family: 'Dosis',
    sans-serif;
    /* width: 500px;
    line-height: 1.5; */
    grid-row: 3;
    grid-column: 2;
    /* padding: 10px; */
    margin: 0 auto;
    /* position: relative;
    left: 28.3em;
    top: 0.5em; */
}

.contact-social{
    grid-row: 4;
    grid-column: 1;
    margin: 0 auto;
}
.c-social {
    
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 50px;
    transition: color 0.2s;
    /* position: relative;
    top: 9em;
    left: 17.5em; */
    
}
.c-social:hover {
color: white;
}



.contact-social>h4{
    color: rgb(0, 0, 0);
    font-size: 35px;
    font-family: 'Montserrat Alternates',
    sans-serif;
    
}

/* .input-name {
    border-radius: 1;
    border: 1px solid gray;
    width: 300px;
    height: 25px;
    padding: 0.5em;
      box-sizing: border-box;


} */

.input-form{
    grid-row: 3;
    grid-column: 1;
    margin: auto;
    display: flex;
    flex-direction: column;
    position: relative;
}


.input-cc {
    width: 292px;
    height: 15px;
    padding: 0.5em;
    margin: 5px;
}

.input-ccc {
    width: 292px;
    height: 60px;
    padding: 0.5em;
    margin: 5px;
}

.contactme-submit{
    width: 150px;
    height: 30px;
    padding: 0.5em;
    margin: 5px;
}

/* RESUME-ME CSS PORTION */

#resume-me {
    background-image: url("/wireframes/resumebackr1.jpg");
    height: 100vh;
    width: 100%;
    background-size: cover;
    border: 3px solid grey;
    background-color: whitesmoke;
    overflow: hidden;
}


.img-resume {
    height: 0;
    display: flex;
    justify-content: center;
    position: relative;
    top: 5em;
}

#resmi {
    height: 92vh;
    width: 44%;
    
}
#linkz-r {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 100px;
    list-style-type: none;
    padding: 10px;
    grid-row: 1;
    grid-column: 1 /span 2;
    padding: 30px;
}

@media screen and (max-width: 720px) {
    #linkz-r {
        gap: 10px;
        padding: 15px;
    }
}
