

html {
    scroll-behavior: smooth;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
}


body {
    background-color: beige;
    margin:0 auto;
    
}
.dark-mode {
    background-color: black;
    color: white;
}
section {
    scroll-snap-align: center;
}
header {
    position: relative;
    bottom: 30em;
}
header ul li a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 20px;
    font-family: 'Bebas Neue',
    cursive;
    transition: color 0.2s;
}
 header ul li a:hover {
    color: white;
 }


/* MODAL */
.modal-container {
    position:fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-image: url("/wireframes/modalimg.jpeg");
    background-size: cover;
    border: 3px solid grey;
    overflow: hidden;
    
}


.modal-container h2{
    color: white;
    font-size: 60px;
    font-family: 'Oswald',
    sans-serif;
    position: relative;
    top: 6.5em;
    left: 14em;   
    
}
.modal-container #screen-btn{
    color: white;
    font-size: 30px;
    font-family: 'Oswald',
    sans-serif;
    padding: 30px;
}


.hide {
    display: none
}

 /* MAIN////FIRST DIV WITH IMAGE AND UL CLASS */
#bio {
height: 100vh;
width: 100%;
background-image: url("/wireframes/backgrounddivmain.jpeg");
background-size: cover;
/* -webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover; */
border: 3px solid grey;
/* background-color: whitesmoke; */
overflow: hidden;
}




h2, h3 {
position: relative;
top: 32vh;
left: 30vh;

}

#bio h2 {
    color: white;
    font-size: 50px;
    font-family: 'Oswald',
        sans-serif;
        padding: 30px;
}

#bio h3 {
    color: rgb(255, 255, 255);
    font-size: 40px;
    font-family: 'Cormorant Garamond',
        serif;
    width: 400px;
    padding: 10px;


}


.img-main1 img {
    max-width: 500px;
    position: relative;
    bottom: 4em;
    left: 63em;
    border: 4px solid rgb(209, 216, 222);
}


#linkz {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 100px;
    position: relative;
    top: 32em;
    list-style-type: none;
    
}

.links li a {
    text-decoration: none;
    color: rgb(116, 42, 42);
    font-size: 50px;
    font-family: 'Bebas Neue',
    cursive;
    transition: color 0.2s;
}

.links li a:hover {
    color: white;
}

.media {
    display: flex;
    justify-content: flex-end;
    position: relative;
    right: 10px;

}

.social {
    text-decoration: none;
    color: white;
    font-size: 50px;
    transition: color 0.2s;
    position: relative;
    bottom: 14em;
    right: 20px;
    
    
}

.social:hover {
color: black;
}



/* ABOUT ME CSS PORTION SCREEN 2 */

#about-me{
    background-color: white;
    height: 100vh;
    width:100%;
    background-image: url("/wireframes/aboutme1.jpg");
    border: 3px solid grey;
    background-color: whitesmoke;
    overflow: hidden;
}

.img-aboutme img {
    max-width: 350px;
    position: relative;
    left: 10em;
    bottom: 23em;
    border: 4px solid rgb(209, 216, 222);

}

.aboutme h1 {
color: rgb(0, 0, 0);
font-size: 50px;
font-family: 'Oswald',
sans-serif;
padding: 30px;
position: relative;
top: 2em;
left:3em;
}

.aboutme h2{
color: rgb(0, 0, 0);
font-size: 30px;
font-family: 'Oswald',
sans-serif;
padding: 10px;
position: relative;
left: 25em;
top: 2em;
}

#about-me p{
    color: rgb(0, 0, 0);
    font-size: 25px;
    font-family: 'Dosis',
    sans-serif;
    width: 500px;
    line-height: 1.5;
    padding: 10px;
    position: relative;
    left: 30em;
    top: 2.5em;
    
}

.skills-tab h2{
color: rgb(0, 0, 0);
font-size: 30px;
font-family: 'Oswald',
sans-serif;
padding: 10px;
position: relative;
left: 25em;
top: 3em;
}

#skillz {
color: rgb(0, 0, 0);
font-size: 25px;
font-family: 'Dosis',
sans-serif;
line-height: 1.5;
width: 500px;
padding: 10px;
position: relative;
left: 30em;
top: 4em;
}



/* CAROUSEL CSS PORTION */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
}



.carousel-container {
    width: 70%;
    display: flex;
    justify-content: space-around;
}



.imgz {
    width: 110vh;
    height: 85vh;
}

.images {
    display: none;
    border-radius: 10px;
}

.images:first-of-type {
    display: block;
}

.carousel-button {
    align-self: center;
    color: rgb(0, 0, 0);
    padding: 10px;
    text-align: center;
    color: white;
    font-size: 90px;
    transition: color 0.2s;
   
}

.carousel-button:hover {
    color: rgb(0, 0, 0);
}







/* PROJECTS-ME CSS PORTION */
#projects-me{
background-color: rgb(255, 255, 255);
height: 100vh;
width:100%;
background-image: url("/wireframes/projectbackground.jpg");
background-size: cover;
border: 3px solid grey;
background-color: whitesmoke;
overflow: hidden;
}











/* CONTACT-ME CSS PORTION */
#contact-me {
    background-color: white;
    height: 100vh;
    width: 100%;
    background-image: url("/wireframes/contactmeimg1.jpg");
    background-size:cover;
    border: 3px solid grey;
    overflow: hidden;
    }



#contact-me h1{
color: rgb(0, 0, 0);
font-size: 50px;
font-family: 'Montserrat Alternates',
sans-serif;
padding: 30px;
position: relative;
top: 1em;
left: 15em;
}

#contact-me h2{
    color: rgb(0, 0, 0);
    font-size: 25px;
    font-family: 'Dosis',
    sans-serif;
    width: 500px;
    line-height: 1.5;
    padding: 10px;
    position: relative;
    left: 33em;
    top: 1em;
}
#contact-me h3{
    color: rgb(0, 0, 0);
    font-size: 30px;
    font-family: 'Dosis',
    sans-serif;
    width: 500px;
    line-height: 1.5;
    padding: 10px;
    position: relative;
    left: 28.3em;
    top: 0.5em;
}


.c-social {
    
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 50px;
    transition: color 0.2s;
    position: relative;
    top: 9em;
    left: 17.5em;
    
    
    
}
.c-social:hover {
color: white;
}



#contact-me h4{
    color: rgb(0, 0, 0);
    font-size: 35px;
    font-family: 'Montserrat Alternates',
    sans-serif;
    
    position: relative;
    top: 12em;
    left: 25em;
}

/* .input-name {
    border-radius: 1;
    border: 1px solid gray;
    width: 300px;
    height: 25px;
    padding: 0.5em;
      box-sizing: border-box;


} */

.input-form{
    display: flex;
    flex-direction: column;
    position: relative;
    left: 50em;
}


.input-cc {
    width: 292px;
    height: 15px;
    padding: 0.5em;
    margin: 5px;
}

.input-ccc {
    width: 292px;
    height: 60px;
    padding: 0.5em;
    margin: 5px;
}

.contactme-submit{
    width: 150px;
    height: 30px;
    padding: 0.5em;
    margin: 5px;
}

/* RESUME-ME CSS PORTION */
#resume-me {
    background-image: url("/wireframes/resumebackr1.jpg");
    height: 100vh;
    width: 100%;
    background-size:cover;
    border: 3px solid grey;
    background-color: whitesmoke;
    overflow: hidden;
}


.img-resume {
    height: 0;
}

#resmi {
    height: 92vh;
    width: 44%;
    position: relative;
    top: 4.3em;
    left: 33em;
}

/* MEDIA */


@media (max-width: 1300px) {
.modal-container h2 {
    color: white;
    font-size: 30px;
    font-family: 'Oswald',
        sans-serif;
    

}


    .img-main1 {
        display: flex;
        position: relative;
        left: -55em;
    }
   .img-main1 img{
       width: 30%;
      
   }

   
   #bio h2{
       font-size: 25px;
       position:relative;
       top: 17em;
       left:1em;
        
   }
   #bio h3{
       font-size: 25px;
    position:relative;
    top: 17em;
    left: 1em;
   }

#linkz {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    position: relative;
    top: 32em;
    list-style-type: none;

}

.links li a {
    text-decoration: none;
    color: rgb(116, 42, 42);
    font-size: 20px;
    font-family: 'Bebas Neue',
        cursive;

}

.img-aboutme {
    position: relative;
    left:-7em;
    top:-7em;
}

.aboutme2 {
    width: 20%;
}

.aboutme h1{
   position: relative;
   font-size: 20px;
   top: -2em
}
#about-me p {
    font-size: 20px;
    position: relative;
    left: 3em;
    top: 15em;
    width: 300px;
}

.aboutme h2 {
font-size: 20px;
position: relative;
left: 3em;
top: 16em;
width: 300px;
}

.skills-tab h2{
    font-size: 20px;
    position: relative;
    left: 3em;
    top: 15em;
    width: 300px;
}

#skillz {
    font-size: 20px;
    position: relative;
    left: 3em;
    top: 15em;
    width: 300px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
}



.carousel-container {
    width: 30%;
    display: flex;
    justify-content: space-around;
}



.imgz {
    width: 40vh;
    height: 35vh;
}

.carousel-button {
    align-self: center;
    color: rgb(0, 0, 0);
    padding: 10px;
    text-align: center;
    color: white;
    font-size: 30px;
    transition: color 0.2s;

}

#contact-me h1{
    
    font-size: 30px;
    padding: 10px;
    position: relative;
    top: 2em;
    left: 1em;

}

#contact-me h2 {

    font-size: 30px;
    padding: 10px;
    position: relative;
    top: 2em;
    left: 1em;

}

#contact-me h3 {

    font-size: 30px;
    padding: 10px;
    position: relative;
    top: 2em;
    left: 1em;

}
#contact-me h4 {

    font-size: 30px;
    padding: 10px;
    position: relative;
    top: 10em;
    left: 1em;

}


.c-social {

    font-size: 20px;
    padding: 10px;
    position: relative;
    top: 15em;
    left: 2.5em;

}

.input-form {
    display: flex;
    flex-direction: column;
    position: relative;
    left: 1em;
}


.input-cc {
    width: 280px;
    height: 10px;
    padding: 0.5em;
    margin: 2px;
}

.input-ccc {
    width: 280px;
    height: 30px;
    padding: 0.5em;
    margin: 2px;
}

.contactme-submit {
    width: 120px;
    height: 30px;
    padding: 0.5em;
    margin: 2px;
}


#resmi {
    width: 60%;
    position: inherit;
    padding: 30px;
   
}

}
