
html {
    scroll-behavior: smooth;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
}


body {
    background-color: beige;
    margin:0 auto;
    
}
section {
    scroll-snap-align: center;
}
header {
    position: relative;
    bottom: 30em;
}
header ul li a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 20px;
    font-family: 'Bebas Neue',
    cursive;
    transition: color 0.2s;
}
 header ul li a:hover {
    color: white;
 }

 /* MAIN////FIRST DIV WITH IMAGE AND UL CLASS */
#bio {
height: 100vh;
width: 100%;
background-image: url("/wireframes/backgrounddivmain.jpeg");
background-size: cover;
/* -webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover; */
border: 3px solid grey;
background-color: whitesmoke;
overflow: hidden;
}

h2, h3 {
position: relative;
top: 32vh;
left: 30vh;

}

#bio h2 {
    color: white;
    font-size: 50px;
    font-family: 'Oswald',
        sans-serif;
        padding: 30px;
}

#bio h3 {
    color: rgb(255, 255, 255);
    font-size: 40px;
    font-family: 'Cormorant Garamond',
        serif;
    width: 400px;
    padding: 10px;


}


.img-main1 img {
    max-width: 500px;
    position: relative;
    bottom: 4em;
    left: 63em;
    border: 4px solid rgb(209, 216, 222);
}


ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 100px;
    position: relative;
    top: 32em;
    list-style-type: none;
    
}

.links li a {
    text-decoration: none;
    color: rgb(116, 42, 42);
    font-size: 50px;
    font-family: 'Bebas Neue',
    cursive;
    transition: color 0.2s;
}

.links li a:hover {
    color: white;
}

.media {
    display: flex;
    justify-content: flex-end;
    position: relative;
    right: 10px;

}

.social {
    text-decoration: none;
    color: white;
    font-size: 50px;
    transition: color 0.2s;
    position: relative;
    bottom: 14em;
    right: 20px;
    
}

.social:hover {
color: black;
}



/* ABOUT ME CSS PORTION SCREEN 2 */

#about-me{
    background-color: white;
    height: 100vh;
    width:100%;

}















/* PROJECTS-ME CSS PORTION */
#projects-me{
background-color: blue;
height: 100vh;
width:100%;
}











/* CONTACT-ME CSS PORTION */
#contact-me {
    background-color: white;
    height: 100vh;
    width: 100%;

}
/* RESUME-ME CSS PORTION */
#resume-me {
    background-color: green;
    height: 100vh;
    width: 100%;
}