
body {
    background-color: beige;
    margin:0 auto;
}

 /* MAIN////FIRST DIV WITH IMAGE AND UL CLASS */
.bio {
height: 100vh;
width: 100%;
background-image: url("/wireframes/backgrounddivmain.jpeg");
background-size: cover;
/* -webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover; */
border: 3px solid grey;
background-color: whitesmoke;
overflow:hidden;
}

h2, h3 {
position: relative;
top: 34vh;
left: 30vh;

}
h2 {
    color: white;
    font-size: 30px;
    text-shadow: 0.07em 0 black,
    0 0.07em black,
    -0.07em 0 black;
    /* I got the font color,size, shadow from outside source */
}

h3 {
    color: rgb(255, 255, 255);
    font-size: 40px;
    font-family: 'Cormorant Garamond',
    serif;
    width: 400px;
    padding: 5px;
    /* text-shadow: 0.02em 0 black,
    0 0.04em black,
    -0.04em 0 black; */

}


.img-main1 img {
    max-width: 500px;
    position: relative;
    left: 60em;
    border: 4px solid rgb(209, 216, 222);
}

ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 100px;
    position: relative;
    top: 42rem;
    list-style-type: none;
}

.links li a {
    text-decoration: none;
    color: rgb(116, 42, 42);
    font-size: 50px;
    font-family: 'Bebas Neue',
    cursive;
}